.venv/
__pycache__/
.ipynb_checkpoints/
*.pyc

data/raw/
data/processed/

models/*.log
models/*before*.keras
models/*before*.json
models/*good*.keras
models/training_history.json
models/confusion_matrix.json
models/evaluation_confusion_matrix.json

.DS_Store
Thumbs.db
